{% form_theme form 'common/form/_errors.html.twig' %}

<div class="modal-header">
    <h4 class="modal-title">{{ title }}</h4>
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span>
    </button>
</div>

{{ form_start(form, {'attr': {'id': 'card-new-form'}}) }}
    {{ form_widget(form._token) }}
    {{ form_errors(form) }}
<!--Body-->
<div class="modal-body">
    <div class="form-row">
        <div class="form-group col-6">
            {{ form_label(form.name, 'Название') }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control-sm'}}) }}
        </div>
        <div class="form-group col-6">
            {{ form_label(form.image, 'Изображение') }}
            {{ form_widget(form.image, {'attr': {'class': 'form-control-sm'}}) }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-12">
            {{ form_label(form.liquids, 'Жидкости') }}
            {{ form_widget(form.liquids, {'attr': {'class': 'form-control-sm', 'multiple': 'multiple', 'size': 7}}) }}
        </div>
    </div>

    <div class="form-row">

    </div>
</div>
<!--Footer-->
<div class="modal-footer">
    <button class="btn btn-sm btn-default" type="submit" formnovalidate>{{ button_label|default('Сохранить') }}</button>
</div>
{{ form_end(form, {'render_rest': false}) }}