{% form_theme form 'common/form/_errors.html.twig' %}

<div class="modal-header">
    <h4 class="modal-title">{{ title }}</h4>
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span>
    </button>
</div>

{{ form_start(form, {'attr': {'id': 'card-new-form'}}) }}
    {{ form_widget(form._token) }}
    {{ form_errors(form) }}
<!--Body-->
<div class="modal-body">
    <div class="form-row">
        <div class="form-group col-sm-12 col-md-4">
            {{ form_label(form.name, 'Название') }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control-sm'}}) }}
        </div>
        <div class="form-group col-sm-12 col-md-4">
            {{ form_label(form.edition, 'Выпуск') }}
            {{ form_widget(form.edition, {'attr': {'class': 'form-control-sm'}}) }}
        </div>
        <div class="form-group col-sm-6 col-md-2">
            {{ form_label(form.number, 'Номер') }}
            {{ form_widget(form.number, {'attr': {'class': 'form-control-sm'}}) }}
        </div>
        <div class="form-group col-sm-6 col-md-2">
            {{ form_label(form.rarity, 'Редкость') }}
            {{ form_widget(form.rarity, {'attr': {'class': 'form-control-sm'}}) }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-sm-6 col-md col-lg">
            {{ form_label(form.cost, 'Стоимость') }}
            {{ form_widget(form.cost, {'attr': {'class': 'form-control-sm'}}) }}
        </div>
        <div class="form-group col-sm-6 col-md col-lg">
            {{ form_label(form.lives, 'Жизни') }}
            {{ form_widget(form.lives, {'attr': {'class': 'form-control-sm'}}) }}
        </div>

        <div class="form-group col-sm-6 col-md col-lg">
            <label class="required">Летающий/движение</label>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <img src="{{ asset('build/icons/flying.png') }}" class="img-fluid pr-2" alt="Летающий"> <input type="checkbox" id="card_flying" name="card[flying]" value="{{ form.vars.value.flying }}" {% if form.vars.value.flying %} checked="checked"{% endif %} required="required">
                    </div>
                </div>
                <input type="text" class="form-control" id="card_movement" name="card[movement]" value="{{ form.vars.value.movement }}" required="required">
            </div>
        </div>
        <div class="form-group col-sm-6 col-md-6 col-lg">
            <label class="required">Простой удар</label>
            <div class="input-group input-group-sm">
                <input type="text" id="card_powerWeak" name="card[powerWeak]" class="form-control" value="{{ form.vars.value.powerweak }}" required="required">
                <input type="text" id="card_powerMedium" name="card[powerMedium]" class="form-control" value="{{ form.vars.value.powermedium }}" required="required">
                <input type="text" id="card_powerStrong" name="card[powerStrong]" class="form-control" value="{{ form.vars.value.powerstrong }}" required="required">

            </div>
        </div>
        <div class="form-group col-sm-6 col-md-6 col-lg">
            {{ form_label(form.image, 'Изображение') }}
            {{ form_widget(form.image, {'attr': {'class': 'form-control-sm'}}) }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12 col-lg-4">
            {{ form_label(form.artists, 'Художники') }}
            {{ form_widget(form.artists, {'attr': {'class': 'form-control-sm', 'size': 5}}) }}
        </div>
        <div class="form-group col-md-12 col-lg-4">
            {{ form_label(form.elements, 'Стихии') }}
            {{ form_widget(form.elements, {'attr': {'class': 'form-control-sm', 'size': 5}}) }}
        </div>
        <div class="form-group col-md-12 col-lg-4">
            {{ form_label(form.liquids, 'Жидкости') }}
            {{ form_widget(form.liquids, {'attr': {'class': 'form-control-sm', 'size': 5}}) }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12 col-lg-4">
            {{ form_label(form.supertypes, 'Супертипы') }}
            {{ form_widget(form.supertypes, {'attr': {'class': 'form-control-sm', 'size': 5}}) }}
        </div>
        <div class="form-group col-md-12 col-lg-4">
            {{ form_label(form.types, 'Типы') }}
            {{ form_widget(form.types, {'attr': {'class': 'form-control-sm', 'size': 5}}) }}
        </div>
        <div class="form-group col-md-12 col-lg-4">
            {{ form_label(form.subtypes, 'Подтипы') }}
            {{ form_widget(form.subtypes, {'attr': {'class': 'form-control-sm', 'size': 5}}) }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-12">
            {{ form_label(form.text, 'Текст') }}
            {{ form_widget(form.text, {'attr': {'class': 'form-control-sm tinymce', 'rows': 4}}) }}
        </div>
        <div class="form-group col-12">
            {{ form_label(form.flavor, 'Худ. текст') }}
            {{ form_widget(form.flavor, {'attr': {'class': 'form-control-sm tinymce', 'rows': 4}}) }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-12">
            {{ form_label(form.erratas, 'Эрраты') }}
            {{ form_widget(form.erratas, {'attr': {'class': 'form-control-sm tinymce', 'rows': 4}}) }}
        </div>
        <div class="form-group col-12">
            {{ form_label(form.comments, 'Комментарии') }}
            {{ form_widget(form.comments, {'attr': {'class': 'form-control-sm tinymce', 'rows': 4}}) }}
        </div>
    </div>
</div>
<!--Footer-->
<div class="modal-footer">
    {{ include('admin/layout/_save_button.html.twig') }}
</div>
{{ form_end(form, {'render_rest': false}) }}