<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Админка | {% block title %}{% endblock %}</title>
    <link rel="icon" href="{{ asset('build/favicon.ico') }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('admin') }}
    {% endblock %}
</head>
<body>
    <div class="wrapper">

        <header class="topnavbar-wrapper">
            <nav class="navbar topnavbar">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <div class="brand-logo">
                            <img class="img-fluid" src="{{ asset('logo.png') }}" alt="App Logo">
                        </div>
                        <div class="brand-logo-collapsed">
                            <img class="img-fluid" src="{{ asset('logo-single.png') }}" alt="App Logo">
                        </div>
                    </a>
                </div>

                <ul class="navbar-nav mr-auto flex-row">
                    <li class="nav-item">
                        <!-- Button to show/hide the sidebar on mobile. Visible on mobile only.-->
                        <a class="nav-link sidebar-toggle d-lg-none" href="#" data-toggle-state="aside-toggled" data-no-persist="true">
                            <i class="fas fa-bars"></i>
                        </a>
                    </li>
                </ul>

                <ul class="navbar-nav flex-row">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-sign-out-alt"></i> Выйти</a>
                    </li>
                </ul>
            </nav>
        </header>

        <aside class="aside-container">
            <div class="aside-inner">
                <nav class="sidebar">
                    <ul class="sidebar-nav">

                        <li class="nav-heading">Карты</li>
                        {% for item in menu_service.cardmenu %}
                            {% if not item.submenus %}
                                <li class="{{ (app.request.attributes.get('_route') == item.route) ? 'active' : '' }}">
                                    <a href="{{ path(item.route) }}" title="{{ item.label }}">
                                        <span class="float-right badge badge-info">{{ item.badge }}</span>
                                        {% if item.icon %}<i class="{{ item.icon }}"></i>&nbsp;{% endif %} {{ item.label }}
                                    </a>
                                </li>
                            {% else %}
                                <li class="">
                                    <a href="#{{ item.id }}" title="{{ item.label }}" data-toggle="collapse">
                                        {% if item.icon %}<i class="{{ item.icon }}"></i>&nbsp;{% endif %} {{ item.label }} <i class="fas fa-caret-down"></i>
                                    </a>
                                    <ul class="sidebar-nav sidebar-subnav collapse" id="{{ item.id }}">
                                        {% for submenu in item.submenus %}
                                            <li class="{{ (app.request.attributes.get('_route') == submenu.route) ? 'active' : '' }}">
                                                <a href="{{ path(submenu.route) }}" title="{{ submenu.label }}">
                                                    <span class="float-right badge badge-info">{{ submenu.badge }}</span>
                                                    {% if submenu.icon %}<i class="{{ submenu.icon }}"></i>&nbsp;{% endif %} {{ submenu.label }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                        {% endfor %}

                        <li class="nav-heading">Menu Navigation</li>
                        <li class="active">
                            <a href="#" title="Single View">
                                <span class="float-right badge badge-info">354</span>
                                <i class="far fa-file pr-3"></i> Single View
                            </a>
                        </li>
                        <li class="">
                            <a href="#forms" title="Forms" data-toggle="collapse" class="collapsed">
                                <i class="far fa-edit pr-3"></i>Forms
                            </a>
                            <ul class="sidebar-nav sidebar-subnav collapse" id="forms">
                                <li class="sidebar-subnav-header">Forms</li>
                                <li class=" ">
                                    <a href="#" title="Standard">Standard</a>
                                </li>
                                <li class=" ">
                                    <a href="#" title="Extended">Extended</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </nav>
            </div>
        </aside>

        <section class="section-container">
            <div class="content-wrapper">

                <!-- Flash messages -->
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endfor %}
                <!-- /Flash messages -->

                {% block body %}{% endblock %}
            </div>
        </section>

        <footer class="footer-container">
            <span>&copy; {{ app_site_name }}</span>
        </footer>
    </div>

    <!-- Modal: modalMain -->
    <div class="modal fade" id="mainModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

            </div>
        </div>
    </div>
    <!-- Modal: modalMain -->

    {% block javascripts %}
        {{ encore_entry_script_tags('admin') }}
    {% endblock %}
</body>
</html>