{% extends 'admin/layout/base_admin.html.twig' %}

{% block title %}Выпуски{% endblock %}

{% block body %}
    {{ include('admin/layout/_header_block.html.twig', {'title': 'Выпуски', 'id': 'edition_new'}) }}

    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th width="1%">Номер</th>
                <th>Код</th>
                <th><i class="fas fa-file-image"></i></th>
                <th>Название</th>
                <th>Изображение</th>
                <th>Кол-во карт</th>
                <th width="1%">Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for edition in editions %}
            <tr>
                <td>{{ edition.number }}</td>
                <td>{{ edition.code }}</td>
                <td><img src="{{ asset(cardService.iconDir ~ edition.image) }}" class="" alt="img"></td>
                <td>{{ edition.name }}</td>
                <td>{{ edition.image }}</td>
                <td>{{ edition.quantity }}</td>
                <td>
                    {{ include('admin/layout/_edit_button.html.twig', {'route': 'edition_edit', 'id': edition.id}) }}
                    {{ include('admin/layout/_delete_button.html.twig', {'route': 'edition_delete', 'id': edition.id}) }}
                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="5" width="20%"><strong>Краткое описание:</strong> {{ edition.description }}</td>
                <td></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Записей не найдено.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
