{% form_theme form 'common/form/_errors.html.twig' %}

<div class="modal-header">
    <h4 class="modal-title">{{ title }}</h4>
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span>
    </button>
</div>

{{ form_start(form, {'attr': {'id': 'element-new-form'}}) }}
    {{ form_widget(form._token) }}
    {{ form_errors(form) }}
<!--Body-->
<div class="modal-body">
    <div class="form-row">
        <div class="form-group col-12">
            {{ form_label(form.name, 'Название') }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control-sm'}}) }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-12">
            {{ form_label(form.image, 'Изображение') }}
            {{ form_widget(form.image, {'attr': {'class': 'form-control-sm'}}) }}
        </div>
    </div>
</div>
<!--Footer-->
<div class="modal-footer">
    {{ include('admin/layout/_save_button.html.twig') }}
</div>
{{ form_end(form, {'render_rest': false}) }}