{% form_theme form 'common/form/_errors.html.twig' %}

<div class="modal-header">
    <h4 class="modal-title">Новый художник</h4>
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span>
    </button>
</div>

{{ form_start(form, {'attr': {'id': 'artist-new-form'}}) }}
    {{ form_widget(form._token) }}
    {{ form_errors(form) }}
<!--Body-->
<div class="modal-body ui-front">{# без класса ui-front список autocomplite'a будет показан не рядом с полем поиска #}
    {{ include('admin/artist/_form.html.twig') }}
</div>
<!--Footer-->
<div class="modal-footer">
    <button class="btn btn-sm btn-narrow btn-dark-green" type="submit" formnovalidate>{{ button_label|default('Сохранить') }}</button>
</div>
{{ form_end(form, {'render_rest': false}) }}
{# csrf_token генерируется отдельным полем, в form_end можно запретить рендер остальных полей #}
{# {{ form_end(form, {'render_rest': false}) }} #}
