{% extends 'admin/layout/base_admin.html.twig' %}

{% block title %}Художники{% endblock %}

{% block header %}
    <div class="col-md-10 d-flex align-items-center justify-content-start">
        <h1><i class="fas fa-cogs"></i> Художники <small class="d-none d-lg-inline text-secondary"></small></h1>
    </div>
    <div class="col-md-2 d-flex align-items-center justify-content-end">
        <div class="dropdown create">
            <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Добавить
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" data-toggle="modal" data-target="#mainModal">
                <a class="dropdown-item" href="javascript:void(0);">Карту</a>
                <a class="dropdown-item" href="#">Выпуск</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <table class="table datatable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for artist in artists %}
            <tr>
                <td>{{ artist.id }}</td>
                <td>{{ artist.name }}</td>
                <td>
                    <a href="{{ path('artist_show', {'id': artist.id}) }}">show</a>
                    <a href="{{ path('artist_edit', {'id': artist.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('artist_new') }}">Create new</a>
{% endblock %}
